---
let error = "";
const data = await Astro.request.formData();
const name = data.get("name") as string;

if (name.length == 0) {
  error = "Name cannot be blank";
}
---

<p class="text-red-600">{error}</p>
