---
import { prisma } from "../../../lib/db";

export const partial = true;

const categoryId = Astro.request.url.split("/")[4];

const items = await prisma.items.findMany({
  where: {
    categoryid: categoryId,
  },
  select: {
    name: true,
  },
  orderBy: {
    name: "asc",
  },
});

let names: string[] = [];
items.map((item) => names.push(item.name));
---

<form method="POST" id="expenseFrom" class="space-y-1 mt-2">
  <input
    type="text"
    name="categoryId"
    id="categoryId"
    value={`${categoryId}`}
    hidden
  />
  <div class="flex space-x-4">
    <label for="name" class="p-1 font-bold w-20">Name</label>
    <select
      name="name"
      id="name"
      class="p-1 focus:outline-none border-2 border-zinc-700"
    >
      {names.map((name) => <option value={name}>{name}</option>)}
    </select>
  </div>
  <div class="flex space-x-4 pt-2">
    <label for="quantity" class="p-1 font-bold w-20">Quantity</label>
    <input
      type="text"
      name="quantity"
      id="quantity"
      class="p-1 focus:outline-none border-2 border-zinc-700"
      hx-post="/validate/quantity"
      hx-target="#quantity-error"
    />
  </div>
  <div id="quantity-error" class="p-1"></div>
  <div class="flex space-x-4">
    <label for="price" class="p-1 font-bold w-20">Price</label>
    <input
      type="number"
      step="0.1"
      name="price"
      id="price"
      class="p-1 focus:outline-none border-2 border-zinc-700"
      hx-post="/validate/price"
      hx-target="#price-error"
    />
  </div>
  <div id="price-error" class="p-1"></div>
  <div class="flex space-x-4 pb-2">
    <label for="comments" class="p-1 font-bold w-20">Comments</label>
    <input
      type="text"
      name="comments"
      id="comments"
      class="p-1 focus:outline-none border-2 border-zinc-700"
    />
  </div>
  <button
    type="submit"
    hx-post="/addExpense"
    hx-target="#expenseFrom"
    class="px-2 py-1 bg-black text-white">Submit</button
  >
</form>
