---
import { prisma } from "../../../lib/db";

export const partial = true;

const categoryId = Astro.request.url.split("/")[4];

const items = await prisma.items.findMany({
  where: {
    categoryid: categoryId,
  },
  select: {
    name: true,
  },
  orderBy: {
    name: "asc",
  },
});
---

<div class="grid grid-cols-3 md:grid-cols-6 gap-2 mt-4 mx-1">
  {
    items.map((item) => (
      <div class="bg-slate-200 p-1 rounded-md">{item.name}</div>
    ))
  }
</div>
